<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/trangchu.css" rel="stylesheet" />
   
</head>
<body>
        <div class="header">
            <nav class="container">
                <a href="" id="logo">
                    <img src="~/img/logo.jpg" />
                </a>
                <ul id="main-menu">
                    <li><a href="iphone">Iphone</a> </li>
                    <li><a href="">Laptop</a></li>
                    <li><a href="">Tablet</a></li>
                    <li><a href="">Phụ Kiện</a></li>
                    <li><a href="">Đồng Hồ</a></li>
                    <li><a href="">Giỏ hàng</a></li>
                    <li><a href="">Khuyến Mãi</a></li>
                </ul>
            </nav>
        </div>     
        <div>@RenderBody()</div>
    <div class="Footer">    

    </div>
</body>
</html>
