
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/Trangchu.cshtml";
}
<link href="~/Content/slide.css" rel="stylesheet" />
<script src="~/Content/JavaScript.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/slide.css" rel="stylesheet" />
</head>
<body>
    <div class="slider">
        <i class="fa fa-angle-left slider-prev"></i>
        <ul class="slider-dots">
            <li class="slider-dot-item active" data-index="0"></li>
            <li class="slider-dot-item" data-index="1"></li>
            <li class="slider-dot-item" data-index="2"></li>
            <li class="slider-dot-item" data-index="3"></li>
            <li class="slider-dot-item" data-index="4"></li>
            <li class="slider-dot-item" data-index="5"></li>
        </ul>
        <div class="slider-wrapper">
            <div class="slider-main">
                <div class="slider-item">
                    <img src="~/img/banner iphone 15 pro max 5.000 suất_PC3.jpg"
                         alt="" />
                </div>
                <div class="slider-item">
                    <img src="~/img/banner iphone 15 TH_PC2.jpg"
                         alt="" />
                </div>
                <div class="slider-item">
                    <img src="~/img/banner iphone 14 Pro Max T9_Banner PC4.jpg"
                         alt="" />
                </div>
                <div class="slider-item">
                    <img src="~/img/banner ipad gen9 T9_Banner PC5.jpg"
                         alt="" />
                </div>
                <div class="slider-item">
                    <img src="~/img/banner macbook air t9_Banner PC5.jpg"
                         alt="" />
                </div>
                <div class="slider-item">
                    <img src="~/img/Banner Web_SD_VN6.png"
                         alt="" />
                </div>
            </div>
        </div>
        <i class="fa fa-angle-right slider-next"></i>
    </div>

    <div class="title2">
        <a class="item-title2" href="">
            <img class="img-title2" style="object-fit: cover; width:100%" src="~/img/title21.png" />
        </a>
        <a class="item-title2" href="">
            <img class="img-title2" style="object-fit: cover; width:100%" src="~/img/title2.2.png" />
        </a>
        <a class="item-title2" href="">
            <img class="img-title2" style="object-fit: cover; width:100%" src="~/img/title3.png" />
        </a>
    </div>
    <div class="tieude-iphone">
        <a class="tittle-iphone" href="iphone">
            <ul>
                <li>I</li>
                <li>P</li>
                <li>H</li>
                <li>O</li>
                <li>N</li>
                <li>E</li>
            </ul>
        </a>
    </div>
    <div class="layout-list-iphone">
        <div class="list-iphone">
            <a href="" class="detail-iphone">
                <img src="~/img/ip15-titan.jpeg" />
                <p>iPhone 15 Pro Max 256GB</p>
                34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
            <a href="" class="detail-iphone">
                <img src="~/img/0019756_pink_550.jpeg" />
                <p>iPhone 15 128GB</p>
                21.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
            <a href="" class="detail-iphone">
                <img src="~/img/0020074_iphone-15-pro-max-128gb_550.jpeg" />
                <p>iPhone 15 Pro Max 256GB</p>
                34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
        </div>
    </div>
    <div class="layout-button">
        <a href="iphone">
            Xem tất cả iphone
            <i class="fa-solid fa-list fa-beat"></i>
        </a>
    </div>
    <div class="tieude-ipad">
        <a class="tittle-ipad" href="ipad">
            <ul>
                <li>I</li>
                <li>P</li>
                <li>A</li>
                <li>D</li>
            </ul>
        </a>
    </div>
    <div class="layout-list-ipad">
        <div class="list-ipad">
            <a href="" class="detail-ipad">
                <img src="~/img/0007301_ipad-pro-m2-129-inch-wifi-128gb_240.png" />
                <p>iPhone 15 Pro Max 256GB</p>
                34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
            <a href="" class="detail-ipad">
                <img src="~/img/0007071_ipad-pro-m2-11-inch-wifi-128gb_240.png" />
                <p>iPhone 15 128GB</p>
                21.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
            <a href="" class="detail-ipad">
                <img src="~/img/0006205_ipad-gen-9-102-inch-wifi-64gb_240.png" />
                <p>iPhone 15 Pro Max 256GB</p>
                34.990.000<sup>đ</sup>  <i class="fa-solid fa-cart-shopping fa-bounce"></i>
            </a>
        </div>
    </div>
</body>
</html>



